app-welcome {
    .company-name {
        top: 30vh;
    }
    .container {
        height: 67vh;
        background: url('https://media2.giphy.com/media/DA8RrDJs3uJnW/100.webp?cid=ecf05e472r8kdrtd829r1ks2dy8zu321evjl52p9mxxsby3b&ep=v1_gifs_search&rid=100.webp&ct=g') no-repeat center center fixed;
        background-size: cover;
    }
}