    <section 
        class="
            text-white
            app-bg-primary 
            align-items-center 
            justify-content-start 
            flex 
            flex-column 
            border-round 
            "
            [ngClass]="product.count > 0 ? 'border-primary-color' : 'border-outline-on-surface'"
        >
        <img [src]="product.img.src" [alt]="product.img.alt" class="w-full h-16rem app-bg-primary-color-dark">
        <section class="p-3 flex flex-column flex-1">
            <h1 class="text-3xl text-white">{{ product.label }}</h1>
            <h2 class="text-xl text-white p-1">{{ product.sublabel }}</h2>
            <p class="p-1">{{ product.description }}</p>
        </section>
        <section class="flex justify-content-center align-items-center">
            <p class="white-space-pre">Unit price: </p>
            <span>${{ product.price }}</span>
        </section>
        <p-dropdown [options]="quantityOptions" appendTo="body"></p-dropdown>
        <section class="flex justify-content-between align-items-center w-full">
            <i (click)="shoppingCartService.trashItem(product)" class="fa-solid fa-minus p-4"></i>
            <span>{{ product.count }}</span>
            <i (click)="shoppingCartService.addItem(product)" class="fa-solid fa-plus p-4"></i>

        </section>
    </section>
