    <!-- items -->
    <section class="flex flex-column flex-1">
        <app-cart-item *ngFor="let item of items" [item]="item"></app-cart-item>
    </section>

    <ng-template pTemplate="footer">
        <section class="flex flex-1 justify-content-between align-items-end mt-3">
            <!-- total -->
            <section class="flex flex-1 justify-content-start align-items-end">
                <label for="total" class="mr-3 text-2xl">Total:</label>
                <span id="total" class="pl-2 text-3xl">
                    $9.99
                </span>
            </section>
            <p-button
            label="Checkout"
            styleClass="p-button-success">
        </p-button>
    </section>
    </ng-template>