<span (click)="onClickCart()" class="cursor-pointer round absolute bottom-0 right-0 m-4 md:m-8 p-4 app-bg-white">
    <!-- TODO: itemsTotal can be an observable of itemsCountMap with a pipe to reduce/sum -->
    <span class="cart-badge round bg-red-600 p-2 absolute text-white flex justify-content-center align-items-center w-2rem h-2rem">{{ shoppingCartService.cartItems$ | async | getTotalInCart }}</span>
    <i class="fa-solid fa-cart-shopping text-2xl app-icon-primary-color flex flex-1 justify-content-center align-items-center"></i>
</span>

<!-- TODO: move this to index and use the modal service -->
<p-dialog
    [header]="header"
    [(visible)]="visible"
    [style]="{width: '90vw', height: '90vh', maxWidth: '50rem'}"
    [draggable]="true" 
    [resizable]="false">

    <!-- CONTENT -->
    <ng-container [ngSwitch]="show">
        <ng-container *ngSwitchCase="'shoppingCart'" [ngTemplateOutlet]="shoppingCartTemplate"></ng-container>
        <amplify-authenticator *ngSwitchCase="'loginNecessary'" #auth [loginMechanisms]="['email']">
            <ng-template
              amplifySlot="authenticated"
              let-user="user"
              let-signOut="signOut"
              [ngSwitch]="showInAmplify"
            >
              <ng-container *ngSwitchCase="'addressForm'" [ngTemplateOutlet]="addressFormTemplate"></ng-container>
              <ng-container *ngSwitchCase="'paymentForm'" [ngTemplateOutlet]="paymentFormTemplate"></ng-container>
              <button (click)="signOut()">Sign Out</button>
            </ng-template>
          </amplify-authenticator>
    </ng-container>

    <!-- FOOTER -->
    <ng-template pTemplate="footer">
        <ng-container [ngSwitch]="show">
            <ng-container *ngSwitchCase="'shoppingCart'" [ngTemplateOutlet]="shoppingCartFooter"></ng-container>
            <ng-container *ngSwitchCase="'loginNecessary'">
                <ng-container [ngSwitch]="showInAmplify">
                    <ng-container *ngSwitchCase="'addressForm'" [ngTemplateOutlet]="addressFormFooter"></ng-container>
                    <ng-container *ngSwitchCase="'paymentForm'" [ngTemplateOutlet]="paymentFormFooter"></ng-container>
                </ng-container>
            </ng-container>
        </ng-container>
    </ng-template>

    <!-- CONTENT TEMPLATES -->
    <ng-template #addressFormTemplate>
        <section class="flex flex-1 flex-column">
            <form [formGroup]="addressForm">
                <section class="flex flex-1 flex-column">
                    <label class="text-headline-5">Order Type</label>
                    <section class="flex flex-1 w-full align-items-center">
                        <div class="flex align-items-center mr-4">
                            <p-radioButton value="oneTime" formControlName="orderType" inputId="oneTime"></p-radioButton>
                            <label for="oneTime" class="ml-2">One Time</label>
                        </div>
                        <div class="flex align-items-center">
                            <p-radioButton value="subscription" formControlName="orderType" inputId="subscription"></p-radioButton>
                            <label for="subscription" class="ml-2">Subscription</label>
                        </div>
                    </section>
                </section>
                <!-- EMAIL -->
                <section class="flex flex-1 flex-column mt-3">
                    <label for="email-input">Email Address</label>
                    <input id="email-input" type="text" pInputText formControlName="email" />
                </section>
                <section class="flex flex-1 mt-3">
                    <!-- FIRST NAME -->
                    <section class="flex flex-1 flex-column mt-3 mr-3">
                        <label for="firstname-input">First Name</label>
                        <input id="firstname-input" type="text" pInputText formControlName="firstname" />
                    </section>
                    <!-- LAST NAME -->
                    <section class="flex flex-1 flex-column mt-3">
                        <label for="lastname-input">Last Name</label>
                        <input id="lastname-input" type="text" pInputText formControlName="lastname" />
                    </section>
                </section>
                <section class="flex flex-1 mt-3">
                    <!-- DELIVERY ADDRESS -->
                    <section class="flex flex-1 flex-column mt-3 flex-grow-3 mr-3">
                        <label for="address1-input">Delivery Address</label>
                        <input id="address1-input" type="text" pInputText formControlName="address1" />
                    </section>
                    <!-- APT SUITE -->
                    <section class="flex flex-1 flex-column mt-3 flex-grow-1">
                        <label for="address2-input">Apt/Suite #</label>
                        <input id="address2-input" type="text" pInputText formControlName="address2" />
                    </section>
                </section>
                <section class="flex flex-1 mt-3">
                    <!-- CITY -->
                    <section class="flex flex-1 flex-column mt-3 pr-3 w-4">
                        <label for="city-input">City</label>
                        <input id="city-input" type="text" pInputText formControlName="city" />
                    </section>
                    <!-- STATE -->
                    <section class="flex flex-1 flex-column mt-3 pr-3 w-4">
                        <label for="state-input">State</label>
                        <input id="state-input" type="text" pInputText formControlName="state" />
                    </section>
                    <!-- ZIP CODE -->
                    <section class="flex flex-1 flex-column mt-3 w-4">
                        <label for="zipcode-input">Zip Code</label>
                        <input id="zipcode-input" type="text" pInputText formControlName="zipcode" />
                    </section>
                </section>
                <section class="flex flex-1 flex-column mt-3 w-4">
                    <label>Use logged in user information</label>
                    <p-checkbox [(ngModel)]="useUserInfo" [ngModelOptions]="{standalone: true}" [binary]="true" inputId="binary"></p-checkbox>
                </section>
            </form>
        </section>
    </ng-template>

    <ng-template #shoppingCartTemplate>
        <!-- items -->
        <ng-container *ngIf="shoppingCartService.itemsInCart; else emptyCart">
            <section class="flex flex-column flex-1">
                <app-cart-item *ngFor="let item of shoppingCartService?.cartItems$ | async" [item]="item"></app-cart-item>
            </section>
        </ng-container>
        <ng-template #emptyCart>
            <section class="mt-3">
                No items in cart
            </section>
        </ng-template>
    </ng-template>

    <ng-template #paymentFormTemplate>
        <app-stripe-payment></app-stripe-payment>
    </ng-template>

    <!-- FOOTER TEMPLATES -->
    <ng-template #shoppingCartFooter>
        <section class="flex flex-1 justify-content-between align-items-end mt-3">
            <!-- total -->
            <section class="flex flex-1 justify-content-start align-items-end">
                <label for="total" class="mr-3 text-2xl">Total:</label>
                <span id="total" class="pl-2 text-3xl">
                    $ {{ shoppingCartService.cartItems$ | async | getPriceInCart }}
                </span>
            </section>
            <p-button
                (click)="shoppingCartService.itemsInCart ? show = 'loginNecessary' : false"
                label="Next"
                styleClass="p-button-success"
                [disabled]="!shoppingCartService.itemsInCart"
                >
            </p-button>
    </section>
    </ng-template>

    <ng-template #addressFormFooter>
        <section class="flex flex-1 justify-content-between align-items-end mt-3">
            <p-button
                (click)="show = 'shoppingCart'"
                label="Back"
                styleClass="p-button-success"
                >
            </p-button>
            <p-button
                (click)="formIsValid ? showInAmplify = 'paymentForm' : false"
                label="Next"
                styleClass="p-button-success"
                [disabled]=!formIsValid
                >
            </p-button>
        </section>
    </ng-template>

    <ng-template #paymentFormFooter>
        <section class="flex flex-1 justify-content-between align-items-end mt-3">
            <p-button
                (click)="showInAmplify = 'addressForm'"
                label="Back"
                styleClass="p-button-success">
            </p-button>
            <p-button
                (click)="visible = false"
                label="Submit"
                styleClass="p-button-success">
            </p-button>
        </section>
    </ng-template>
    

</p-dialog>