<section class="flex justify-content-between align-items-center app-bg-black h-4rem">
    <div class="flex flex-1 justify-content-start align-items-center">
        <span class="h-1rem w-1rem bg-green-400 ml-2"></span>
        <span class="h-1rem w-1rem bg-green-400 ml-2"></span>
    </div>
    <div class="flex flex-1 justify-content-end align-items-center pr-5">
        <span class="h-2rem w-2rem flex flex-1 justify-content-end align-items-center">
            <i class="fa-solid fa-user text-2xl text-white"></i>
        </span>
    </div>
</section>