<h4 class="text-headline-3 ml-6">About The Farm</h4>
<section class="w-full text-xl text-white flex flex-column-small-screen">
    <section class="flex-1 justify-content-center align-items-center flex">
        <img [src]="'assets/images/greens_bowl.png'" alt="our-story" class="w-10 p-3 app-bg-primary-color-dark">
    </section>

    <section class="flex-1 my-4">      
            <p>Welcome to our vibrant microgreen farm nestled in the heart of Dallas-Fort Worth, where passion for fresh, nutritious produce meets the spirit of community and sustainability. At our farm, we specialize in growing a diverse array of microgreens, each bursting with flavor and packed with essential nutrients. Our commitment to quality and freshness is unmatched, ensuring that every tiny green we cultivate delivers a powerful punch of health benefits and culinary delight.
            </p>
            
            <p>
            Our farm is more than just a place where greens grow; it is a hub of innovation and care. We take pride in using sustainable farming practices that respect the environment while producing the highest quality microgreens. Our dedicated team works tirelessly to nurture these young plants, leveraging natural light and organic methods to bring out their best. When you choose our microgreens, you're not just adding a touch of freshness to your meals; you're supporting a local business that values health, wellness, and ecological balance.
            </p>
            
            <p>
            We invite you to join us in celebrating the remarkable world of microgreens. Whether you're a seasoned chef looking for that perfect garnish or a health-conscious individual seeking to boost your diet, our farm has something special for you. Visit us and experience the warmth and hospitality that define our approach to farming. We are here to share our love for microgreens and to make a positive impact on the Dallas-Fort Worth community, one vibrant green leaf at a time.
            </p>
    </section>
</section>
<app-faq></app-faq>

