app-our-story {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 14rem 5rem 10rem;
    @extend .app-bg-tertiary !optional;

    @media screen and (max-width: 1165px) {
        .flex-column-small-screen {
          flex-direction: column;
        }
      }
}